{% extends "base.html.twig" %}

{% block title %}
Lire: {{post.title}}
{% endblock %}

{% block body %}
    <div class="card mb-3">
    <img class="card-img-top" src="{{post.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.content}}</p>
        <p class="card-text"><small class="text-muted">Publié le {{post.createdAt | date('d/m/Y')}}</small></p>
    </div>
    </div>
{% endblock %}